@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');

 body {
 background: #3c136e;
background: linear-gradient(180deg,#3c136e 0%, rgba(0, 0, 0, 1) 17%, rgba(10, 1, 70, 1) 54%, rgba(255, 0, 77, 1) 80%);
  font-family: 'Keania One', sans-serif;
  margin: 0;
  padding: 0px;
  width: 1300px;
  height: 100vh;
  box-sizing: border-box;
}
#tith {
  color: #EC485D;
  position: relative; 
    top: 0px;
    left: 40px;
    font-size: 70px;
    top: 20px;
}

#blanco {
  color: #FFDEDE;
  -webkit-text-stroke: 0.1px black;
}
#button1 {
   display: inline-block;
  background: linear-gradient(to bottom, #69001F, #000000);
  color: #CF0F47;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
#indexsp {
  color: #FFDEDE;
  font-size: 70px;
  margin-bottom: 400px;
}
#blanco1 {
    color: #FFDEDE;
    -webkit-text-stroke: 0.1px black;
    font-size: 16px;
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    line-height: 19.2px;
    word-wrap: break-word;
    position: relative; 
    margin: 5px;
    }
.el-germen {
    height: 220px;
    width: 220px;
    }
    .haz-memoria {
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 180px;
    }

#indexbg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
    pointer-events: none;
 }

.kaputt-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    width: 100%;
    max-width: 900px;
    padding: 20px;
    z-index: 2;
}

.Index-texto{
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


#buttonindex {
    display: inline-block;
    margin-top: 10px;
       display: inline-block;
  background: linear-gradient(to bottom, #69001F, #000000);
  color: #CF0F47;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
   .decaer {
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 180px;
    }
     .una-nueva-vida {
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 180px;
    }
    .haz-logrado-el-verdadero-renacer {
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 180px;
    }
#templovid {
    position: absolute;   
    top: 0;                 
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;      
    z-index: -1;            
}

.ahogarse {
  background-image: url('/assets/bg.jpg');
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 180px;
  color: #fff;
}

.img-derecha {
  float: right;
  margin: 0 0 1rem 1rem; 
  max-width: 40%;       
  height: auto;
}
  
